<div class="row d-flex justify-content-center px-4 pd-md-0 m-0">
	<div class="col-12 col-md-6 p-md-0">
		<div class="d-flex justify-content-between align-items-center my-3">
			<p class="h1 m-0">Receitas</p>
			<div class="w-100 d-flex justify-content-end align-items-end">
				<p class="m-0">
					<%= link_to "Nova receita" , new_recipe_path, class:"btn btn-primary" %>
				</p>
			</div>
		</div>

		<% @recipes.each do |recipe| %>
		<div class="card mb-3" >
			<div class="row g-0">
				<div class="col-md-4">
					<%= has_image(recipe) %>
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title"><%= recipe.name %></h5>
						<p class="card-text"><%= recipe.prepare_mode %></p>
						<p class="card-text"><small class="text-muted">
							Atualizada no dia
							<%= recipe.updated_at.to_s(:short) %></small>
						</p>
					</div>
				</div>
				<div class="card-footer text-muted d-flex justify-content-end">
					<%= link_to "Visualizar" , recipe, class: "btn btn-sm btn-primary" %>
					<%= link_to "Editar" , edit_recipe_path(recipe), class: "btn btn-sm btn-secondary" %>
					<%= link_to "Remover" , recipe_path(recipe), class: "btn btn-sm btn-danger", method: :delete, data:{confirm: "Deseja deletar esta receita?"} %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
