<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= pluralize(@recipes.size, "Receita" , "Receitas" ) %>
	</title>
</head>

<body>
	<h1>Receitas</h1>
	<p>
		<%= link_to "Nova receita" , new_recipe_path %>
	</p>
	<table>
		<thead>
			<tr>
				<td><b>Nome</b></td>
				<td><b>Ingredientes</b></td>
				<td><b>Calorias</b></td>
				<td><b>Modo de preparo</b></td>
				<td><b>Custo</b></td>
				<td colspan="3"><b>Ações</b></td>
			</tr>
		</thead>
		<tbody>
			<% @recipes.each do |recipe| %>
				<tr>
					<td>
						<%= recipe.name %>
					</td>
					<td>
						<%= recipe.stuff %>
					</td>
					<td>
						<%=format_calory (recipe) %>
					</td>
					<td>
						<%= recipe.prepare_mode %>
					</td>
					<td>
						<%= recipe.cost %>
					</td>
					<td>
						<%= link_to "Visualizar" , recipe %>
					</td>
					<td>
						<%= link_to "Editar" , edit_recipe_path(recipe) %>
					</td>
					<td>
						<%= link_to "Remover" , recipe_path(recipe), method: :delete, data:{confirm: "Deseja deletar esta receita?"} %>
					</td>
				</tr>
				<% end %>
		</tbody>
	</table>
</body>

</html>
